<div class= "rightContainer">
  <!-- <div class="whiteSpace"></div> -->
  <div class= "subHeader">
    <span class="subHeaderText">Quantity</span>
    <span class="subHeaderText">Dimensions</span>
    <span class="subHeaderText">Price</span>
  </div>
  <div class="reviewCheckout">
    <ul ng-repeat="item in $storage.cart track by $index">
      <li class="reviewCheckoutList">
        <img class="checkoutImg" ng-src="{{item.product_imageurl}}"/>
        <span class="itemSummary">x {{item.quantity || '1'}}</span>
        <span class="itemSummary">{{item.dimensions}}</span>
        <span class="itemSummary">{{item.price}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="leftContainer">
  <form class="pmtForm">
    <input class="pmtInfo" type="text" placeholder="First Name">
    <input class="pmtInfo" type="text" placeholder="Last Name">
    <input class="pmtInfo" type="text" placeholder="Email">
    <input class="pmtInfo" type="text" placeholder="Address">
    <input class="pmtInfo" type="text" placeholder="City">
    <input class="pmtInfo" type="text" placeholder="Zip">
    <input class="pmtInfo" type="text" placeholder="Billing Address">
  </form>
</div>
